# Global ignores (applied recursively to all folders)
node_modules/
__pycache__/
*.pyc
.DS_Store
*.log
.env
.env.*

# Python / FastAPI (Backend)
backend/.venv/

# Node / React (Frontend)
frontend/dist/
frontend/.next/
frontend/build/
frontend/coverage/

# MCP MongoDB Server
mcp-mongo/build/